:root {

    --dkblue: #0d314b;
    --aqua: #86fbfb;
    --plum: #4b0d49;

}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rbba(0, 0, 0, 0.15);
}

thead {
    background-color: var(--plum);
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody, tr {
    border-bottom: 1px solid black;
}
